<head>

	<title>
		{{ if .Title }}
			{{ .Title }} |
		{{ end }}
		Inverted Axes
	</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|PT+Serif:400,400i,700,700i" rel="stylesheet"> -->

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/ia-crest.png">
	<link rel="icon" type="image/png" href="/img/ia-logo-8bit.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/ia-logo-8bit.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<!-- <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400"> -->
	<meta name="theme-color" content="#0078ff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Inverted Axes | Gamers doing video games">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/ia-crest.png">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<!-- <link rel="stylesheet" href="//basehold.it/33"> -->
</head>