<div id="{{ substr .element.Params.author 0 3 }}" class="flex-m mhn3-m pt4 mb3">
  <div class="ph2-m w-40-m {{if modBool .index 2 }} {{else}}order-last-m{{end}}">
    <div class="portrait--tricky">
      <div style="background-image: url({{.element.Params.imageurla}})" alt="" class="image--a"></div>
      {{ if .element.Params.imageurlb }}
      <div style="background-image: url({{.element.Params.imageurlb}})" alt="" class="image--b"></div>
      {{ end }}
    </div>
  </div>
  <div class="ph3-m w-60-m">
    <h3 class="">{{.element.Params.author}}</h3>
    <div class="grey-4">{{.element.Content}}</div>
  </div>
</div>
