<nav class="flex justify-between items-center center bg-black divider relative">

	<!-- Logo -->
	<a href="/" class="pa2 pr1 db flex-none">
		<img src="/img/logoH.png" alt="Inverted Axes logo" class="br0 db mb0 h2"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-2 pr1">
		<li class="maa"><a href="/post" class="pv2 ph1 fs6 no-underline db">Posts</a></li>
		<li class="maa"><a href="/about" class="pv2 ph1 fs6 no-underline db">About</a></li>
	</ul>

</nav>
<!-- <span class="nav__underline"></span> -->
