<div class="schedule-banner flex pa3">
    <div class="schedule-banner__col ray pv3 ph4">
        <span>Monday</span><br>
        <span>Ray</span><br>
        <span>8pm est</span>
    </div>
    <div class="schedule-banner__col aaron pv3 ph4">
        <span>Wednesday</span><br>
        <span>Aaron</span><br>
        <span>8pm est</span>
    </div>
    <div class="schedule-banner__col mike pv3 ph4">
        <span>Friday</span>
        <span>Mike</span>
        <span>8pm est</span>
    </div>
    <div class="schedule-banner__col human pv3 ph4">
        <span>Saturday</span><br>
        <img src="/img/100phuman.png" alt="The 100% Human Video Game Show"><br>
        <span>6pm est</span>
    </div>
</div>