<div class="schedule-banner">
    <div class="ph1">
        <div class="schedule-banner__inner pb1 flex center br1">
            <div class="schedule-banner__col ray br1 pa1 tc flex">
                <span class="schedule-banner__col-inner flex-column maa">
                    <span>Ray</span><br>
                    <span>Monday<br>@&nbsp;8pm&nbsp;est</span>
                </span>
            </div>
            <div class="schedule-banner__col aaron br1 pa1 tc flex">
                <span class="schedule-banner__col-inner flex-column maa">
                    <span>Jardine</span><br>
                    <span>Wednesday<br>@&nbsp;8pm&nbsp;est</span>
                </span>
            </div>
            <div class="schedule-banner__col mike br1 pa1 tc flex">
                <span class="schedule-banner__col-inner flex-column maa">
                    <span>Mike</span><br>
                    <span>Friday<br>@&nbsp;8pm&nbsp;est</span>
                </span>
            </div>
            <div class="schedule-banner__col human br1 pa1 tc flex">
                <span class="schedule-banner__col-inner flex-column maa">
                    <img src="/img/100phuman.png" alt="The 100% Human Video Game Show"><br>
                    <span>Saturday @&nbsp;8pm&nbsp;est</span>
                </span>
            </div>
        </div>
    </div>
</div>