<div class="schedule-banner">
  <div class="ph1">
    <h2 class="schedule-banner__title white text_small mb1">Stream Schedule</h2>
    <div class="schedule-banner__inner pb1 flex center br1">
      <div class="schedule-banner__col c-secondary br1 pa1">
        <span class="schedule-banner__col-inner flex flex-column tc">
          <a href="/about#Ray" class="schedule-banner__col-portait-link flex flex-column mha raise">
            <img
              class="schedule-banner__col-portait"
              src="/img/51914311_401112467127378_3868730639851192320_n.jpg"
              alt=""
            />
            <div class="schedule-banner__col-name">Ray</div>
          </a>
          <div class="schedule-banner__col-date text_small b mt1">Monday, 8pm&nbsp;est</div>
        </span>
      </div>
      <div class="schedule-banner__col c-tertiary br1 pa1">
        <span class="schedule-banner__col-inner flex flex-column tc">
          <a href="/about#Mal" class="schedule-banner__col-portait-link flex flex-column mha raise">
            <img
              class="schedule-banner__col-portait"
              src="/img/jarjardanks.jpg"
              alt=""
            />
            <div class="schedule-banner__col-name">Jardine</div>
          </a>
          <div class="schedule-banner__col-date  text_small b mt1">Wednesday, 10pm&nbsp;est</div>
        </span>
      </div>
      <div class="schedule-banner__col human br1 pa1 tc flex">
        <span class="schedule-banner__col-inner flex-column flex maa">
          <img
            class="mha mt1"
            src="/img/100phuman.png"
            alt="The 100% Human Video Game Show"
          />
          <div class="schedule-banner__col-date text_small b mt1">Thursday, 8pm&nbsp;est</div>
        </span>
      </div>
      <div class="schedule-banner__col c-primary br1 pa1">
        <span class="schedule-banner__col-inner flex flex-column tc">
          <a href="/about#Mik" class="schedule-banner__col-portait-link flex flex-column mha raise">
            <img
              class="schedule-banner__col-portait"
              src="/img/mike-1.jpg"
              alt=""
            />
            <div class="schedule-banner__col-name">Pitts</div>
          </a>
          <div class="schedule-banner__col-date text_small b mt1">Friday, 8pm&nbsp;est</div>
        </span>
      </div>
      
    </div>
  </div>
</div>
