.nav__underline {
  display: block;

  height: 4px;
  width: 100%;

  background-color: var(--black);

  transform: skewX(-45deg) translateX(-3px);
}

.nav__underline--reversed {
  transform: skewX(45deg) translateX(-3px);
}

.article-preview__wrapper {
  --preview-color: 242, 244, 245;
  --title-color: white;
  --shadow-color: black;
}


.article-preview {
  position: relative;
  display: flex;

  background-color: rgba(var(--shadow-color), 1);

  overflow: hidden;
}

.article-preview__content {
  z-index: 1;
}


.article-preview__content--funky {
  width: 50%;

  background-color: rgba(var(--preview-color), 1);

  border-bottom: 8px solid transparent;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  color: rgb(var(--title-color));

  z-index: 1;
}

.article-preview__content--funky:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 101px;
  height: calc(100% - 8px);
  width: 50%;
  clip-path: polygon(0 102%, 0% 0%, 150px 0%, 200px 102%);
  background-color: rgba(var(--preview-color), 1);
  border-bottom: 8px solid transparent;
  z-index: -1;
  transition: right 0.2s ease;
}

.article-preview__background {
  position: absolute;

  right: 0;
  top: 0;

  height: 100%;

  width: 65%;

  background-size: cover;
  background-position: center center;

  border-radius: 0.25rem;

  z-index: 0;

  transition: all 0.2s ease-in-out;
}

/* Article Previews */
.inv-article__preview {
  /* @media (--breakpoint-small) {
    flex-direction: column;
  } */
}

.inv-article__thumbnail{
  object-fit: cover;
  z-index:1;
  height: 180px;

  @media (--breakpoint-not-small) {
    width: 150px;
    height: calc(100% - 66px);
    flex-shrink: 0;
  }
}

.article-preview__wrapper:nth-child(3n+1) {
 --preview-color: var(--color-primary);
 --title-color: var(--color-primary-white);
 --shadow-color: var(--color-primary-dark);
}

.article-preview__wrapper:nth-child(3n+2) {
  --preview-color: var(--color-secondary);
  --title-color: var(--color-secondary-white);
  --shadow-color: var(--color-secondary-dark);
}

.article-preview__wrapper:nth-child(3n+3) {
  --preview-color: var(--color-tertiary);
  --title-color: var(--color-tertiary-white);
  --shadow-color: var(--color-tertiary-dark);
}

.article-preview__wrapper--funky:nth-child(2n) .article-preview__content:after {
  clip-path: polygon(0 102%, 0% 0%, 200px 0%, 150px 102%);
}

/* hover */
.article-preview__wrapper--funky:hover .article-preview__content {
  border-bottom: 8px solid rgb(var(--shadow-color));
}

.article-preview__wrapper:hover .article-preview{
  filter: drop-shadow( 0 4px 16px rgba(var(--preview-color), 0.3));
}

.article-preview__wrapper--funky:hover .article-preview__content:after {
  right: 1px;
  border-bottom: 8px solid rgb(var(--shadow-color));
}

.article-preview__wrapper--funky:hover .article-preview__background {
  width: calc(50% - 100px);
}

.inv-article-preview__underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--preview-color), 0.93);
  z-index: 0;
}


/* focus */
.article-preview:focus {
  box-shadow: 0 0 0 2px rgb(var(--shadow-color));
}

/* Twitch embed */
/* .inv-twitch-embed {
  background-color: rgb(42, 19, 78);
} */

.inv-twitch-embed iframe {
  max-width: 100%;
}

.inv-twitch-embed__inner {
  background-color: #9146FF;
}

#twitch-embed {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 10px;
}

#twitch-embed iframe{
  position: absolute;
}
/* Twitch Schedule */
.schedule-banner__inner {
  width: 100%;
  background-color: #9146FF;
  /* border-radius: 10px; */
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  
  @media (--breakpoint-not-small) {
    grid-auto-flow: column;
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.schedule-banner__col {
  color: white;
}

.schedule-banner__col-portait-link {
  position: relative;
  text-decoration: none;
}

/* .schedule-banner__col-portait-link:hover {
  opacity: 0.7;
} */

.schedule-banner__col-portait {
  position: relative;
  border-radius: 50% !important;
  height: 75px;
  width: 75px;
  object-fit: cover;
  z-index: 0;
  margin: 0 auto;
}

.schedule-banner__col-name {
  position: relative;
  margin: -20px auto 0; 
  z-index: 1;
  border-radius: 4px;
  padding: 0 12px;
}

.schedule-banner__col-date {
}

.schedule-banner__col.c-primary {
  background-color: rgba(var(--color-primary));
}
.schedule-banner__col.c-primary .schedule-banner__col-name {
  background-color:  rgba(var(--color-primary-dark));
}
.schedule-banner__col.c-primary .schedule-banner__col-portait {
  border: 4px solid rgba(var(--color-primary-dark));
}

.schedule-banner__col.c-secondary {
  background-color: rgba(var(--color-secondary));
}
.schedule-banner__col.c-secondary .schedule-banner__col-name {
  background-color:  rgba(var(--color-secondary-dark));
}
.schedule-banner__col.c-secondary .schedule-banner__col-portait {
  border: 4px solid rgba(var(--color-secondary-dark));
}

.schedule-banner__col.c-tertiary {
  background-color: rgba(var(--color-tertiary));
}
.schedule-banner__col.c-tertiary .schedule-banner__col-name {
  background-color:  rgba(var(--color-tertiary-dark));
}
.schedule-banner__col.c-tertiary .schedule-banner__col-portait {
  border: 4px solid rgba(var(--color-tertiary-dark));
}



.schedule-banner__col.human {
  background-color: yellow;
  color: black;
}

.schedule-banner__col.human img {
  max-height: 80px;
}

/* Portaits */
.portrait--tricky {
  position: relative;
  border-radius: 50% !important;
  padding-bottom: 100%;
}

.portrait--tricky .image--a {
  position: absolute;
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transform: scaleX(1);
}

.portrait--tricky:hover .image--a {
  transform: scaleX(-1);
}

.portrait--tricky .image--b {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scaleX(-1);
}

.portrait--tricky:hover .image--b {
  opacity: 1;
  transform: scaleX(1);
}

.inv-title {
  /* filter: blur(0.5px); */
  display: inline-block;
  text-shadow: 2px 0px 1px #00ffffd7, -2px 0px 1px #ff00e1d7;
  transform: skewX(-7deg);
  font-size: 3.815rem;
}

.inv-jumbotron-fade {
  position: relative;
}

.inv-jumbotron-fade .inv-jumbotron-fade__element {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient( rgba(255, 255, 255, 0), white );
}

.inv-post iframe {
  width: 100%;
}

.inv-post iframe:not(:last-child) {

  margin-bottom: 1.65rem;
}