body {
  border-left: 4px solid var(--black);
} 

.nav__underline {
  display: block;

  height: 4px;
  width: 100%;

  background-color: var(--black);

  transform: skewX(-45deg) translateX(-3px);
}

.nav__underline--reversed {
  transform: skewX(45deg) translateX(-3px);
}
