:root {
	/* Colors */
	--primary: rgb(0, 153, 255);
	--highlight: rgb(198, 236, 254);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgb(252, 254, 255);
	--grey-1: rgb(242, 244, 245);
	--grey-2: rgb(230, 233, 235);
	--grey-3: rgb(86, 88, 89);
	--grey-4: rgb(64, 65, 66);
	--black: rgb(51, 51, 51);

	/* Verical Rhythm */
	--rhythm-unit: 1.65rem;
	--base-size: 1rem;

	/* Typography */
	--font-header:  'Helvetica', sans-serif;
	--font-body:  'Helvetica', sans-serif;
	--line-height: 1.65;

	--font-size: 125%;
	--font-size-m: 125%;
	--font-size-l: 125%;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .512rem;
	--spacing-small: .8rem;
	--spacing-medium: 1.65rem;
	--spacing-large: 3.3rem;
	--spacing-extra-large: 6.6rem;
	--spacing-extra-extra-large: 13.2rem;
	--spacing-extra-extra-extra-large: 26.4rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;

	/* Custom */
	--color-primary: 78, 205, 210;	/* blue color */
	--color-primary-white: 233, 250, 255;
	--color-primary-bright: 95, 245, 234;
	--color-primary-dark: 70, 180, 190;

	--color-secondary: 255, 107, 107;	/* red color */
	--color-secondary-white: 255, 247, 247;
	--color-secondary-bright: 255, 186, 186;
	--color-secondary-dark: 229, 96, 96;
	
	--color-tertiary: 127, 218, 75;	/* green color */ 
	--color-tertiary-white: 245, 251, 241;
	--color-tertiary-bright: 192, 241, 122;
	--color-tertiary-dark: 105, 197, 59;
}