<a href="{{ .Permalink }}" class="inv-article__preview article-preview no-underline br1 mb3 flex flex-column flex-row-ns w-100 bg-center cover" style="background-image: url('{{.Params.image}}')">
	{{ if .Params.thumbnail }}
<img class="inv-article__thumbnail ma3 mr0-ns mb0 mb3-ns"src="{{ .Params.thumbnail }}" alt="{{ .Title }}-thumbnail" 
	style="object-position: {{ if .Params.halign }} {{ .Params.halign }} {{ else }} center {{ end }} {{ if .Params.valign }} {{ .Params.valign }} {{ else }} center {{ end }};"/>
	{{ else if .Params.image }}
	<img class="inv-article__thumbnail ma3 mr0-ns mb0 mb3-ns"src="{{ .Params.image }}" alt="{{ .Title }}-image" 
	style="object-position: {{ if .Params.halign }} {{ .Params.halign }} {{ else }} center {{ end }} {{ if .Params.valign }} {{ .Params.valign }} {{ else }} center {{ end }};" />
	{{ end }}
	<div class="article-preview__content pa3 white">
		<h2 class="fs3">{{ .Title }}</h2>
		<p class="mb1">{{ .Date.Format "Mon, Jan 2, 2006" }} by {{ .Params.author }}</p>
		<p>{{ .Description }}</p>
		<p class="link b dib mb0">Read more →</p>
	</div>
	<span class="inv-article-preview__underlay"></span>
</a>

<!-- <a href="{{ .Permalink }}" class="inv-article__preview--funky article-preview no-underline br1 mb3 flex-ns w-100">
	<div class="article-preview__content pa3">
		<h2 class="fs3">{{ .Title }}</h2>
		<p class="mb1">{{ .Date.Format "Mon, Jan 2, 2006" }} by {{ .Params.author }}</p>
		<p>{{ .Description }}</p>
		<p class="link b dib mb0">Read more →</p>
	</div>
	{{ if .Params.image }}<div class="article-preview__background" style="background-image: url('{{ .Params.image }}')"></div>{{ end }}
</a> -->
