{{ define "main" }}
<div class="bg-off-white pt0 pt4-ns">
  <div class="inv-post mw6 center ph2 ph3-ns pv4 ">
    <h1 class="fs2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>by {{ .Params.author }}</p>
    </div>
    <div class="flex justify-between grey-3">
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      {{ if .Params.showblurb }}
      <p>{{ .Description }}</p>
      {{ end }}
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
